
.header {
  padding-top: 20px;
  /* position: absolute; */
  width: 100%;
  margin-bottom: 30px;
}

.headerBlock {
  padding: 10px;
  background-color: #ffffff83;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
