.footer {
	background-color: var(--footer-bg);
	padding: 30px 0;
}
.block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link {
	color: var(--button-text);
	text-decoration: none;
	text-transform: uppercase;
}
