.item {
	display: flex;
	gap: 30px;
    align-items: center;
    background-color: rgb(133, 133, 133);
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(95, 95, 95, 0.377);
    height: 200px;
    padding: 20px 30px;
    width: 100%;
}

.poster {
	max-width: 100px;
    border-radius: 5px;
}

.text {
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    width: 20px;
    height: 20px;
}